/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", 'Times New Roman', Times, serif;
    font-weight: 100px;
    text-shadow: -2px 2px 8px; /*This is lame*/
    animation-name: text;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes text {
    0%{
        text-shadow: -2px 2px; 
    }
    25%{
        text-shadow: 2px 2px; 
    }
    50%{
        text-shadow: 2px -2px;
        
    }
    75%{
        text-shadow: 2px 2px;
        
    }
    100%{
        text-shadow: -2px 2px;
    }
}

img {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 75%;
}
body {
    background-color: lightcoral;
}
.agdasimaRegular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
#troyLogo {
width: 300px;
}
p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ul {
    margin-left: auto;
    margin-right: auto;
}

